.widefat tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.widefat tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.bknd_utilities_table thead th:nth-child(1),
.bknd_utilities_table tbody td:nth-child(1) {
    width: 100px;
}

.bknd_utilities_table thead th:nth-child(2),
.bknd_utilities_table tbody td:nth-child(2) {
    width: 300px;
}

.bknd_utilities_table thead th:nth-child(3),
.bknd_utilities_table tbody td:nth-child(3) {
    width: calc(100% - 400px);
}

.status_button {
    border: none;
    background-color: transparent;
}