.bknd_tabell tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.bknd_tabell {
    background-color: #fff;
    width: 97%;
    margin-top: 20px;
    border: 1px solid gray;
}

.bknd_tabell thead {
    text-align: left;
    background-color: #e6007e;
    color: white;
    height: 30px;
}

.bknd_tabell th, .bknd_tabell td {
    padding: 8px 10px;
}

.bknd_tabell td:nth-child(1) {
    width: 30px;
}

.bknd_tabell td:nth-child(2) {
    width: 300px;
}

.status_button {
    border: none;
    background-color: transparent;
}